div(class="text-center d-flex h-100 p-3 mx-auto flex-column"  style="max-width: 42em;")
  div(class="row mt-4")
    div(class="col-sm-12  mt-3")
      a(href="https://www.oslobrains.no")
        img(src="img/logo_lcbc.png" style="width: 300; height: 56px;")