mixin html_title
  title LCBC Online Study

mixin header_title
  a(class="navbar-brand" href="/") Online Study - LCBC research center, UiO

mixin main_title
  h1(class="cover-heading mb-5") LCBC Online Study

mixin main_text
  p(class="lead") Web-based service to run psychological experiments from home.


