div(class="text-center d-flex h-100 p-3 mx-auto flex-column"  style="max-width: 42em;")
  div(class="row")
    div(class="col-sm-4 mt-3")
      a(href="https://www.jspsych.org/")
        img(src="img/logo_jspsych.png"  style="height: 84px;")
    div(class="col-sm-4 mt-3")
      a(href="https://www.nrec.no/")
        img(src="img/logo_nrec.png"  style="height: 84px;")
    div(class="col-sm-4 mt-3")
      a(href="https://www.uio.no/tjenester/it/forskning/sensitiv/")
        img(src="img/logo_tsd.png"  style="height: 84px;")
