div(class="text-center d-flex h-100 p-3 mx-auto flex-column"  style="max-width: 42em;")
  div(class="row mt-4")
    div(class="col-sm-6  mt-3")
      a(href="https://www.fhi.no")
        img(src="img/logo_fhi.png" style="width: 207; height: 42px;")
    div(class="col-sm-6  mt-3")
      a(href="https://www.sv.uio.no/psi/")
        img(src="img/logo_psi.png" style="width: 302px; height: 42px;")