mixin html_title
  title PsyWeb Oslo

mixin header_title
  a(class="navbar-brand" href="/") PsyWeb Oslo

mixin main_title
  h1(class="cover-heading mb-5") PsyWeb Oslo

mixin main_text
  p(class="lead") Joint infrastructure to run psychological, web-based experiments for MoBa (FHI) and PSI.


