extends scaffold

block content
  div(class="cover-container d-flex h-100 p-3 mx-auto flex-column mt-5")
    header(class="masthead mb-auto")
    main(role="main" class="inner cover")
      +main_title
      +main_text
      p(class="lead")
        a(href="exp_list" class="btn btn-lg btn-primary mt-3 mb-5") Start Experiment
  include ../themes/active/views/sponsors.pug