doctype html
html(lang='en')
  head
    title PsyWeb Oslo
    meta(charset='utf-8')
    link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="css/main.css" type="text/css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body(class="text-center")
    div(class="cover-container d-flex h-100 p-3 mx-auto flex-column")
      header(class="masthead mb-auto")
      main(role="main" class="inner cover")
        h1(class="cover-heading mb-5") PsyWeb Oslo
        p(class="lead") Joint infrastructure to run psychological, web-based experiments for MoBa (FHI) and PSI.
        p(class="lead")
          a(href="exp_list" class="btn btn-lg btn-primary mt-3 mb-5") Start Experiment
  
      div(class="row mt-5")
        div(class="col-6")
          img(src="img/logo_wide_fhi.jpg" style="width: 75%;")
        div(class="col-6")
          img(src="img/logo_wide_psi.png" style="width: 100%;")
      footer(class="mastfoot mt-auto")
        div(class="inner")
          p