extends scaffold

block content
  div(class="mt-5")
    p(style="font-size:50px") &#x2714
    p Your data has been uploaded.
    button(class="btn btn-primary btn-lg entry button my-3" onclick="location.href='/'" ) Back