include ../themes/active/views/mixins.pug
doctype html
html(lang='en')
  head
    +html_title
    meta(charset='utf-8')
    link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="css/main.css" type="text/css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      +header_title
      ul.navbar-nav.ml-auto
        if (logged_in)
          li
            a(href="/admin")
              span.glyphicon.glyphicon-log-in Admin
          li.ml-3
            a(href="/logout")
              span.glyphicon.glyphicon-log-in Logout
        else
          li
            a(href="/login")
              span.glyphicon.glyphicon-log-in Login
      
    div(class="container text-center")
      include ../themes/active/views/logos.pug
      block content
    footer(class="page-footer font-small blue mt-5")
      .footer-copyright.text-center.py-3 
        a(href=`https://${env.WEBSERVERHOSTNAME}`) #{ env.WEBSERVERHOSTNAME } 
        span &copy; 2020