doctype html
html(lang='en')
  head
    title PsyWeb Oslo
    meta(charset='utf-8')
    link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="css/main.css" type="text/css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body(class="text-center")
    div(class="container")
      div(class="text-center d-flex h-100 p-3 mx-auto flex-column"  style="max-width: 42em;")
        div(class="row mt-5")
          div(class="col-6")
            img(src="img/logo_wide_fhi.jpg" style="width: 228; height: 42px;")
          div(class="col-6")
            img(src="img/logo_wide_psi.png" style="width: 305px; height: 42px;")
      block content